<!---------------------------Subscribe--------------------------------->

<div class="site-section subscribe bg-light centered-text">
  <div class="container" style="padding: 100px 0px">
    <form action="#" class="row align-items-center">
      <div class="col-md-5 mr-auto">
        <h2>Newsletter Subcribe</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
          aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!
        </p>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="d-flex">
          <input
            type="email"
            class="form-control mx-2"
            placeholder="Enter your email"
          />
          <button
            type="submit"
            style="border-radius: 25px; height: 50px; width: 70px"
            class="btn btn-dark"
          >
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!---------------------------Subscribe--------------------------------->

<!---------------------------Footer------------------------------------>

<div class="footer row" style="padding-left: 65px">
  <div class="col-lg-12 col-sm-8 my-5 centered-text">
    <p>
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      2023 All rights reserved
    </p>
  </div>
</div>
