<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
/>

<div class="col full-screen-div">
  <div class="top-side">
    <div class="top-side-content">
      <img class="image-side" src="../../assets/images/cv.jpeg" alt="" />

      <div class="text-side">
        <p style="color: rgb(196, 112, 112)">HEY THERE,</p>
        <p
          style="
            font-size: 60px;
            color: rgba(105, 49, 49, 0.847);
            font-weight: bold;
          "
        >
          I'm Hatice.
        </p>
        <p style="color: rgb(105, 49, 49)">
          I'm a junior software engineer in Turkey. I mostly focus on the
          frontend of the web.
        </p>
      </div>
    </div>
    <div class="button-center">
      <button (click)="downloadPDF()" class="resume">Download Resume</button>
    </div>
  </div>

  <div class="bottom-side">
    <div class="bottom-side-content">
      <div class="social-top">
        <div>
          <a href="https://www.linkedin.com/in/hatice-saike/" target="_blank"
            ><i class="icon bi bi-linkedin"></i>
          </a>
        </div>
        <div>
          <a href="https://github.com/haticesaike"
            ><i class="bi bi-github icon"></i
          ></a>
        </div>
        <div>
          <a href="https://www.instagram.com/haticesaike/"
            ><i class="icon bi bi-instagram"></i
          ></a>
        </div>
        <div>
          <a href="https://discord.com/channels/hatice.s"
            ><i class="icon bi bi-discord"></i
          ></a>
        </div>
      </div>
    </div>
    <hr class="horizontal-line" />
    <div style="margin-bottom: 50px">
      <p class="skills">SKILLS & TOOLS</p>
      <p class="toolbox">My Toolbox & Things I Can Do</p>
    </div>
    <div class="social">
      <div style="display: flex; justify-content: center">
        <div style="display: inline-block; text-align: center">
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-html5-plain no-underline"></i>
          </a>
          <p>HTML</p>
        </div>
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-css3-plain"></i
          ></a>
          <p style="margin-left: 2.7rem">CSS</p>
        </div>
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-javascript-plain"></i
          ></a>
          <p>Javascript</p>
        </div>
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-bootstrap-plain"></i>
          </a>
          <p>Bootstrap</p>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-python-plain"></i>
          </a>
          <p>Python</p>
        </div>
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-opencv-plain"></i>
          </a>
          <p>OpenCV</p>
        </div>
        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-react-original"></i>
          </a>
          <p style="margin-left: 2.5rem">React</p>
        </div>

        <div>
          <a style="text-decoration: none" href=""
            ><i class="icon devicon-angularjs-plain"></i>
          </a>
          <p>Angular</p>
        </div>
      </div>
    </div>
  </div>
</div>
