<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newspaper</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary" style="gap: 50px">
      <div class="container-fluid">
        <a
          [routerLink]="['/home']"
          class="navbar-brand"
          style="margin-left: 10px"
          >Hatice Saike</a
        >
        <form
          class="d-flex"
          role="search"
          style="gap: 5px"
          (submit)="onFormSubmit($event)"
        >
          <div class="d-flex" style="gap: 30px">
            <button class="social-button">
              <i class="bi bi-instagram"></i>
            </button>
            <button class="social-button">
              <i class="bi bi-twitter"></i>
            </button>
            <button class="social-button">
              <i class="bi bi-facebook social-icon" style="font-size: 18px"></i>
            </button>
          </div>

          <input
            #searchInput
            class="form-control me-2"
            type="search"
            placeholder="Search"
            style="margin-left: 40px"
          />
          <button class="btn btn-dark button" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>

      <div class="d-flex categories" style="margin-left: 10px">
        <div class="element" *ngFor="let category of categories">
          <a [routerLink]="['/categories', category]">{{ category }}</a>
        </div>
      </div>

      <div class="d-flex categories" style="padding-right: 30px">
        <div class="element">
          <a [routerLink]="['/about']">About</a>
        </div>
      </div>
    </nav>
    <div class="border"></div>
  </body>
</html>
