<!---------------------------Editor's-Pick-Trending--------------------------------->

<div
  id="Editor's-Pick-Trending"
  class="site-section"
  style="width: 100%; height: 100%; padding: 10px"
>
  <div class="row" style="margin: 5%">
    <div class="row section-1 col-md-8">
      <div class="section-side col-md-8 mt-5">Editor's Pick</div>
      <div class="col-sm-12 col-lg-6 mt-5">
        <img
          src="../../assets/images/image1.jpg"
          width="100%"
          height="100%"
          class="img-fluid"
          alt="Editor`s pick"
        />
        <h2>News Needs to Meet Its Audiences Where They Are</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
      <div class="row col-sm-12 col-lg-6 d-grid gap-3 mt-5">
        <div class="row">
          <div class="col-4" style="padding: 0px">
            <img
              src="../../assets/images/image3.jpg"
              width="100%"
              height="100%"
              alt=""
            />
          </div>
          <div class="col-8">
            <h6>
              <a href="">News Needs to Meet Its Audiences Where They Are</a>
            </h6>
            <div class="post-meta">
              <span class="d-block"
                ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
              >
              <span class="date-read"
                >Jun 14 <span class="mx-1">•</span> 3 min read</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4" style="padding: 0px">
            <img
              src="../../assets/images/image3.jpg"
              width="100%"
              height="100%"
              alt=""
            />
          </div>
          <div class="col-8">
            <h6>
              <a href="">News Needs to Meet Its Audiences Where They Are</a>
            </h6>
            <div class="post-meta">
              <span class="d-block"
                ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
              >
              <span class="date-read"
                >Jun 14 <span class="mx-1">•</span> 3 min read</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4" style="padding: 0px">
            <img
              src="../../assets/images/image3.jpg"
              width="100%"
              height="100%"
              alt=""
            />
          </div>
          <div class="col-8">
            <h6>
              <a href="">News Needs to Meet Its Audiences Where They Are</a>
            </h6>
            <div class="post-meta">
              <span class="d-block"
                ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
              >
              <span class="date-read"
                >Jun 14 <span class="mx-1">•</span> 3 min read</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-2 col-sm-12 col-lg-4 d-grid gap-3">
      <div class="d-block col-md-8 mt-5 section-side">Trending</div>
      <div class="d-flex">
        <div class="number">01</div>
        <div class="trend-contents">
          <h5>
            <a href="">News Needs to Meet Its Audiences Where They Are</a>
          </h5>
          <div class="">
            <span class="d-block"
              ><a href="">Dave Rogers</a> in <a href="">News</a></span
            >
            <span class="date-read"
              >Jun 14 <span class="mx-1">•</span> 3 min read</span
            >
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="number">02</div>
        <div class="trend-contents">
          <h5>
            <a href="">News Needs to Meet Its Audiences Where They Are</a>
          </h5>
          <div class="">
            <span class="d-block"
              ><a href="">Dave Rogers</a> in <a href="">News</a></span
            >
            <span class="date-read"
              >Jun 14 <span class="mx-1">•</span> 3 min read</span
            >
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="number">03</div>
        <div class="trend-contents">
          <h5>
            <a href="">News Needs to Meet Its Audiences Where They Are</a>
          </h5>
          <div class="">
            <span class="d-block"
              ><a href="">Dave Rogers</a> in <a href="">News</a></span
            >
            <span class="date-read"
              >Jun 14 <span class="mx-1">•</span> 3 min read</span
            >
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="number">04</div>
        <div class="trend-contents">
          <h5>
            <a href="">News Needs to Meet Its Audiences Where They Are</a>
          </h5>
          <div class="">
            <span class="d-block"
              ><a href="">Dave Rogers</a> in <a href="">News</a></span
            >
            <span class="date-read"
              >Jun 14 <span class="mx-1">•</span> 3 min read</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------Editor's-Pick-Trending--------------------------------->

<!---------------------------Editor's-Pick--------------------------------->

<div
  id="carouselExample "
  class="carousel slide pointer-event"
  style="width: 90%; height: 50%; margin: 5%; padding: 0px 50px"
>
  <div class="carousel-inner">
    <div
      class="carousel-item active d-flex row"
      style="background-color: #f8f9fa"
    >
      <div class="col-lg-6" style="padding: 0px">
        <img
          src="../../assets/images/image1.jpg"
          class="d-block w-100"
          width="600"
          height="400"
          alt="Editor`s pick"
        />
      </div>
      <div class="col-lg-6 col" style="padding: 50px">
        <span class="caption">Editor's Pick</span>
        <h2>
          <a href="blog-single.html"
            >News Needs to Meet Its Audiences Where They Are</a
          >
        </h2>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
          vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad
          reiciendis. Enim praesentium magni delectus cum, tempore deserunt
          aliquid quaerat culpa nemo veritatis, iste adipisci excepturi
          consectetur doloribus aliquam accusantium beatae?
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">Food</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------Editor's-Pick--------------------------------->

<!---------------------------Politics-Business--------------------------------->

<div id="Politics-Business" class="row" style="margin: 5%">
  <div class="row col-sm-12 col-lg-6 d-grid gap-3 mt-5">
    <div class="section-side col-6 mt-5">Politics</div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>

        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>

        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row col-sm-12 col-lg-6 d-grid gap-3 mt-5">
    <div class="section-side col-6 mt-5">Business</div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------Politics-Business--------------------------------->

<!---------------------------Recent_News-Popular_Posts--------------------------------->

<div id="Recent_News-Popular_Posts" class="row" style="margin: 5%">
  <div class="row col-sm-12 col-lg-8 gap-3 mt-5">
    <div class="section-side col-8">Recent News</div>

    <div class="row">
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>

      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>

      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>

      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h6>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h6>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          temporibus praesentium neque, voluptatum quam quibusdam.
        </p>
        <div class="post-meta">
          <span class="d-block"
            ><a href="#">Dave Rogers</a> in <a href="#">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>

      <div class="col-4" style="padding: 0px">
        <img
          src="../../assets/images/image3.jpg"
          width="100%"
          height="100%"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="row col-sm-12 col-lg-4 gap-3 mt-5">
    <div class="row">
      <div class="section-side col-12">Popular Posts</div>
    </div>

    <div class="row">
      <div class="col-4 number">01</div>
      <div class="col-8 trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="number">02</div>
      <div class="trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="number">03</div>
      <div class="trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="number">04</div>
      <div class="trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="number">05</div>
      <div class="trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="number">06</div>
      <div class="trend-contents">
        <h5>
          <a href="">News Needs to Meet Its Audiences Where They Are</a>
        </h5>
        <div class="">
          <span class="d-block"
            ><a href="">Dave Rogers</a> in <a href="">News</a></span
          >
          <span class="date-read"
            >Jun 14 <span class="mx-1">•</span> 3 min read</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------Recent_News-Popular_Posts--------------------------------->
